  {% load static %}
    <section class="home-about-w3l pt-lg-5 pb-5" id="features">
        <div class="container py-md-5 py-4">
            <div class="row align-items-center">
                <div class="col-xl-7 col-lg-8 mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="grids-1">
                                <div class="icon-style">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <h4 class="title-head mb-2"><a href="about.html">Our Approach</a></h4>
                                <p>Sed ut unde omnis iste natus error sit oluptatem accusa ntium dolo remque
                                    ladase.</p>
                                <a href="about.html" class="btn btn-style btn-style-primary mt-4">Read More<i
                                        class="fas fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-5 mt-4">
                            <div class="grids-1 active">
                                <div class="icon-style">
                                    <i class="fas fa-business-time"></i>
                                </div>
                                <h4 class="title-head mb-2"><a href="about.html">Our Expereience</a></h4>
                                <p>Sed ut unde omnis iste natus error sit oluptatem accusa ntium dolo remque
                                    ladase.</p>
                                <a href="about.html" class="btn btn-style btn-style-primary mt-4">Read More<i
                                        class="fas fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-4">
                            <div class="grids-1">
                                <div class="icon-style">
                                    <i class="fas fa-users"></i>
                                </div>
                                <h4 class="title-head mb-2"><a href="about.html">Our Clients</a></h4>
                                <p>Sed ut unde omnis iste natus error sit oluptatem accusa ntium dolo remque
                                    ladase.</p>
                                <a href="about.html" class="btn btn-style btn-style-primary mt-4">Read More<i
                                        class="fas fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-sm-5 mt-4">
                            <div class="grids-1">
                                <div class="icon-style">
                                    <i class="fas fa-city"></i>
                                </div>
                                <h4 class="title-head mb-2"><a href="about.html">Our Office</a></h4>
                                <p>Sed ut unde omnis iste natus error sit oluptatem accusa ntium dolo remque
                                    ladase.</p>
                                <a href="about.html" class="btn btn-style btn-style-primary mt-4">Read More<i
                                        class="fas fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4 ps-lg-5 mt-lg-0 mt-5">
                    <h3 class="title-style mb-lg-4 mb-3">Digital Experience in the Talent Journey and Learning!</h3>
                    <p class="text-para">Aurabitur id gravida risus. Fusce eget ex fermentum, ultricies nisi ac sed,
                        lacinia est. Quisque ut lectus consequat, venenatis eros et, sed commodo risus.
                    </p>
                    <a href="about.html" class="btn btn-style mt-sm-5 mt-4">Learn More</a>
                </div>
            </div>
        </div>
    </section>