{% load static %}
   <section class="w3l-text-6 py-5">
        <div class="container pb-md-5 pb-4">
            <div class="row top-cont-grid align-items-center">
                <div class="col-lg-5">
                    <div class="right-img">
                        <img src="{% static 'images/img1.jpg' %}" alt="" class="img-fluid" />
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-6 mt-lg-0 mt-sm-5 mt-4">
                    <div class="left-cont">
                        <h3 class="title-style">Investment planning & strategy</h3>
                        <p class="mt-3 mb-2">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus
                            vitae fringilla sapien, quis dictum mi. Quisque consectetur egestas.Lorem ipsum dolor sit
                            amet,
                            consectetur adipiscing elit. Sed luctus orci sit amet tempor luctus. Nullam non felis massa.
                            Phasellus vitae fringilla sapien.</p>
                        <a href="services.html" class="btn btn-style mt-4">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="row top-cont-grid top-space align-items-center mt-5 pt-lg-5 pt-4 pb-4">
                <div class="col-lg-6 mt-lg-0 mt-sm-5 mt-4 order-lg-first order-last">
                    <div class="left-cont">
                        <h3 class="title-style">Competitive research & Assurance</h3>
                        <p class="mt-3 mb-2">Sed luctus orci sit amet tempor luctus. Nullam non felis massa. Phasellus
                            vitae fringilla sapien, quis dictum mi. Quisque consectetur egestas.Lorem ipsum dolor sit
                            amet,
                            consectetur adipiscing elit. Sed luctus orci sit amet tempor luctus. Nullam non felis massa.
                            Phasellus vitae fringilla sapien.</p>
                        <a href="services.html" class="btn btn-style mt-4">Learn More</a>
                    </div>
                </div>
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5 order-lg-last order-first">
                    <div class="right-img sec-img-ab">
                        <img src="{% static 'images/img2.jpg' %}" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>