   {% load static %}
    <section class="pricing-w3l py-lg-5 py-2">
        <div class="container">
            <div class="title-heading-w3 text-center mx-auto mb-md-5 mb-4 pb-md-1" style="max-width:500px;">
                <h3 class="title-style">Pick the right plan!</h3>
            </div>
            <div class="row no-gutters pt-4">
                <div class="col-lg-4 box-pricing">
                    <h3 class="text-price">Standard</h3>
                    <h4>$0<span>per month</span></h4>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Basic website checkup</li>
                        <li><i class="fas fa-check-circle"></i> SEO recommendations</li>
                        <li><i class="fas fa-check-circle"></i> Google Ads basic plan</li>
                        <li class="na"><span><i class="fas fa-check-circle"></i> Social Media plan</span></li>
                        <li class="na"><span><i class="fas fa-check-circle"></i> Company & Business Setup</span></li>
                    </ul>
                    <a href="#button" class="btn btn-style mt-4">Get Started</a>
                </div>

                <div class="col-lg-4 box-pricing featured">
                    <h3 class="text-price">Popular</h3>
                    <h4>$29<span>per month</span></h4>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Basic website checkup</li>
                        <li><i class="fas fa-check-circle"></i> SEO recommendations</li>
                        <li><i class="fas fa-check-circle"></i> Google Ads basic plan</li>
                        <li><i class="fas fa-check-circle"></i> Social Media plan</li>
                        <li class="na"><span><i class="fas fa-check-circle"></i> Company & Business Setup</span></li>
                    </ul>
                    <a href="#button" class="btn btn-style btn-style-2 mt-4">Get Started</a>
                </div>

                <div class="col-lg-4 box-pricing">
                    <h3 class="text-price">Premium</h3>
                    <h4>$49<span>per month</span></h4>
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Basic website checkup</li>
                        <li><i class="fas fa-check-circle"></i> SEO recommendations</li>
                        <li><i class="fas fa-check-circle"></i> Google Ads basic plan</li>
                        <li><i class="fas fa-check-circle"></i> Social Media plan</li>
                        <li><i class="fas fa-check-circle"></i> Company & Business Setup</li>
                    </ul>
                    <a href="#button" class="btn btn-style mt-4">Get Started</a>
                </div>
            </div>
        </div>
    </section>