   {% load static %}
    <section class="project-sec py-5" id="projects">
        <div class="container py-md-5 py-4">
            <div class="title-heading-w3 text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style">Our Latest Projects</h3>
            </div>
            <div class="row">
                <div class="col-md-4 col-6">
                    <a href="https://w3layouts.com/template/grocery-mart-a-multi-vendor-ecommerce-website-template/"
                        target="_blank">
                        <img src="{% static 'images/p1.jpg' %}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="https://w3layouts.com/template/beidea-a-corporate-business-category-website-template/"
                        target="_blank">
                        <img src="{% static 'images/p2.jpg' %}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
                <div class="col-md-4 col-6 mt-md-0 mt-4">
                    <a href="https://w3layouts.com/template/biodata-a-personal-portfolio-website-templates/"
                        target="_blank">
                        <img src="{% static 'images/p3.jpg' %}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
                <div class="col-md-4 col-6 mt-4">
                    <a href="https://w3layouts.com/template/call-center-a-corporate-business-website-template/"
                        target="_blank">
                        <img src="{% static 'images/p4.jpg' %}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
                <div class="col-md-4 col-6 mt-4">
                    <a href="https://w3layouts.com/template/industries-website-template/" target="_blank">
                        <img src="{% static 'images/p5.jpg' %}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
                <div class="col-md-4 col-6 mt-4">
                    <a href="https://w3layouts.com/template/studious-website-template/" target="_blank">
                        <img src="{% static 'images/p6.jpg' %}" alt="" class="img-fluid radius-image">
                    </a>
                </div>
            </div>
        </div>
    </section>