{% load static %}

                           {% for post in popular_posts %}
                                <article class="post">
                                    <figure class="post-thumb"><img src="{{ post.photo.url }}" alt="" class="img-fluid radius-image"></figure>
                                    <div class="text"><a href="web/blog-single.html">{{ post.title_seo }}</a>
                                        <span>Дата публикации: {{ post.created_at|date:"j E Y" }}</span>
                                    </div>

                                </article>
                            {% endfor %}












