{% extends 'base.html' %}
{% load static %}
{% block title %}
    Главная {{ title }} :: {{ block.super }}
{% endblock %}
 {% block css %}
<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
{% endblock %}
{% block content %}
<section class="w3l-blog-slider" id="blog-slider">
    <!-- main-slider -->
<div class="blog-slider py-4">
    <div class="container pt-lg-4 pt-md-3 mb-md-0 mb-md-5">
         <div class="contact-heading text-center mb-md-5 mb-4">
                <span class="text pt-3">Мой блог</span>
                <h3 class="title-big">Поиск материалов <span>{{ title }}</span></h3>
         </div>

   </div>
</div>
</section>
<!-- /main-slider -->
<!--Blog Begin-->
<section class="w3l-blog-block2 mt-lg-4 mb-1">
    <div class="container pb-lg-5">
        <div class="row">
           {% for item in post_tag %}

            <div class="col-lg-4 col-md-6 item mt-md-0 mt-5">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                           {% if item.photo %}
                                <a href="{{ item.get_absolute_url }}">
                                    <img class="card-img-bottom d-block radius-image-full" src="{{ item.photo.url }}" alt="{{ item.title }}">
                                </a>
                            {% else %}
                                <a href="{{ item.get_absolute_url }}"><img src="{% static 'images/c3.jpg' %}" alt="{{ post.title }}" class="img-fuild mr-3" style="width: 350px; float: left;"></a>
                            {% endif %}

                    </div>
                    <div class="card-body p-0 blog-details">
                        <a href="{{ item.get_absolute_url }}" class="blog-desc">{{ item.title }}</a>

                        <p>{{ item.intro_text|safe|truncatechars_html:70 }}</p>
                        <p><span class="meta-value margin-top"> {{ item.created_at|date:"j E Y" }} </span></p>
                            <a href="{{ item.get_absolute_url }}" class="btn btn-style btn-empty p-0">Узнать больше<span></span></a>
                    </div>
                </div>
            </div>

              {% endfor %}
        </div>

        <!-- Pagination -->
        <div class="pagination-wrapper mt-5">
                   {% if page_obj.has_other_pages %}
            <nav aria-label="...">
                <ul class="page-pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
                        </li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="?page={{ p }}">{{ p }} <span class="sr-only"></span></a>
                            </li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Последующая</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
 <!-- //pagination -->

    </div>

        <!-- //pagination -->

</section>

{% endblock %}