{% load static %}
<section class="w3l-homeblock1" id="about">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <span class="text">Ваши возможности</span>
                    <h3 class="title-big"><span>Beautiful Dev </span> современным веб-разработчикам</h3>
                    <p class="mt-4 mg-3"><strong>Beautiful Dev может помочь вам получить новый творческий импульс прямо сейчас!</strong></p>
                    <p class="mt-4 mb-3">Мы рекомндуем изучать инструменты не ради самого процесса обучения. Мы изучаем их для того,
                    что бы они помогали нам достичь поставленных целей. В этом проекте мы будем использовать примеры написания кода
                    для создания блога и более сложных приложений с: категориями, постами, тегами, комментариями, контактами и уведомлениями
                    по электронной почте и многим другим — в качестве нашей цели.</p>
                    <p>Джанго станет инструментом, который поможет нам в этом. Каждый урок, предназначенный для новичков в Django,
                    содержит логику, инструкции и методы, которые приведут вас к результату. Версия для начального знакомства "Djando by Examples"
                    записана в 2022 году и использует Django 4.</p>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5">
                    <div class="position-relative">
                        <img src="{% static 'images/beautiful-django.jpg' %}" alt="" class="radius-image img-fluid mb-1">
                        <img src="{% static 'images/beautiful-django-2.jpg' %}" alt="" class="radius-image img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>