{% load static %}
    {% for post in last_posts %}
        <article class="post">
             <figure class="post-thumb">
                 <a href="{{ post.get_absolute_url }}" class="d-block zoom">
                     <img src="{{ post.photo.url }}" alt="{{ post.title_seo }}" class="img-fluid radius-image news-image">
                 </a>
             </figure>
             <div class="text"><a href="{{ post.get_absolute_url }}" class="blog-desc1">{{ post.title_seo }}</a></div>
              <div class="post-info">{{ post.created_at|date:"j E Y" }}</div>
        </article>
       {% endfor %}