 {% load static %}
  <ul class="blog-cat">

{% load mptt_tags %}
        {% recursetree categories %}
          {% if node.level == 0 %}
          {% if not node.is_leaf_node %}
            <li class="dropdown nav-item">
                <a href="{{ node.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                <span class="mainBarItem">{{ node.title }}<span class="caret"></span> </span></a>
                    {% if not node.is_leaf_node %}
                        <span>&nbsp;</span><span class="fa fa-angle-down"></span>
                    {% endif %}
                    {% else %}
            </li>
            <li class="nav-item @@c__active">
              <a href="{{ node.get_absolute_url }}" class="nav-link">{{ node.title_menu }}</a>
            {% endif %}
            {% else %}
            {% if not node.is_leaf_node %}
          <li class="dropdown-submenu">
            <a href="{{ node.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
              <span class="nav-label">{{ node.title }}<span class="caret"></span></span></a>
            {% else %}
          <li><a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
            {% endif %}
            {% endif %}
            {% if not node.is_leaf_node %}
            <ul class="children dropdown-menu">
              {{ children }}
            </ul>
            {% endif %}
          </li>
          {% endrecursetree %}
        </ul>
    <!--ul class="navbar-nav ml-auto">
        <li class="nav-item @@c__active mt-2">
                       <a class="nav-link" href="{% url 'contact' %}">Контакты</a>
       </li>
   </ul-->