<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Интеллектуальные системы IRBIS{% endblock %}</title>
    <meta name="description"  content="{% block description %}Разработка интеллектуальных систем обучения и решений для бизнеса{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}Intelligent Tutoring Systems, интеллектуальные системы обучения, irbis{% endblock %}" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" >

   {% block css %}<link rel="stylesheet" href="{% static 'css/style-starter.css' %}">{% endblock %}
  </head>
  <body>
  {% include 'particls/header.html' %}
 <!--Messege Error or Success-->
        {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'error' %} <!--таких тегов есть несколько: error, success, info, debug, warning -->
                  <div class="alert alert-danger" role="alert">
                      {{ message }}
                  </div>
              {% else %}
                  <div class="alert alert-{{ message.tags }}" role="alert">
                      {{ message }}
                  </div>
             {% endif %}
          {% endfor %}
      {% endif %}
  <!--//Messege-->
{% block content %}{% endblock %}
{% include 'particls/footer.html' %}
{% include 'particls/scripts.html' %}

 </body>
</html>